@import 'header';
@import 'body';
@import 'recipe-cards';
@import 'variables';


html {
  background-color: $dark-blue;
  @include border(2px, solid, #000);
  @include height(100vh);
  // border: 2px solid #000;
  // height: 100vh;
}

body {
  box-sizing: border-box;
  font-family: $main-font;
  @include margin(auto);
  // margin: auto;
}


.main-header {
  background-color: $off-white-background;
  justify-content: $justifyContent;
  @include border(2px, solid, #000);
  @include display(flex);
  @include height(auto);
  @include width(100%);
  // display: flex;
  // border: 2px solid #000;
  // height: auto;
  // width: 100%;
}

.navButton {
  background-color: $off-white-background;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  @include font(130%);
  @include margin(1%);
  // font-size: 130%;
  // margin: 1%;
}

h1 {
  border-right: 2px solid #000;
  padding-top: 10px;
  text-align: $textAlign;
  margin-top: 0;
  margin-bottom: 0;
  @include font(255%);
  @include width(30%);
  // font-size: 255%;
  // width: 30%;
}

.user-info {
  text-align: $textAlign;
  @include font(180%);
  @include margin(auto);
  @include width(40%);
  // font-size: 180%;
  // margin: auto;
  // width: 40%
}

.search-bar {
  margin: 10px 0px 10px 0px;
  @include display(flex);
  @include height(100%);
  @include width(30%);
  // display: flex;
  // height: 100%;
  // width: 30%;
}

.search-button {
  background-color: $off-white-background;
  margin-top: 3px;
  @include border(1px, solid, #000);
  @include width(20%);
  @include height(58px);
  // border: 1px solid #000;
  // width: 20%;
  // height: 58px;
}

.search-image:hover,
.card-button:hover,
.navButton:hover,
.search-button:hover {
  background-color: #cff2da;
}


.search-image:active,
.card-button:active,
.navButton:active,
.search-button:active {
  background-color: #C3C2C6;
}

.search-input {
  margin: 3px 7px 0px 0px;
  padding-left: 10px;
  @include border(1px, solid, #000);
  @include font(100%);
  @include height(7vh);
  @include width(90%);
  // border: 1px solid #000;
  // font-size: 100%;
  // height: 7vh;
  // width: 90%;
}


.card-button {
  @include border(1px, solid, #000);
  @include height(27px);
  @include margin(3px);
  // margin: 3px;
  // border: 1px solid #000;
  // height: 27px;
}



.add-button {
  background-color: $off-white-background;
  @include display(flex);
  @include width(12%);
  // display: flex;
  // width: 12%;
}

.add {
  @include width(100%);
  // width: 100%;
}

.hidden {
  @include display(none);
  // display: none;
}


.favorite {
  background-color: $off-white-background;
  background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
  background-repeat: no-repeat;
  background-position: center;
  @include width(13%);
  // width: 13%;
}

.all-cards {
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 0 30px 30px;
  @include display(grid);
  @include width(95.5vw);
  // display: grid;
  // width: 95.5vw;
}

img {
  cursor: pointer;
}

.card {
  background-color: $light-blue;
  @include border(3px, solid, #000);
  @include width(100%);
  // border: 3px solid #000;
  // width: 100%;
}


.card-header {
  background-color: $off-white-background;
  border-bottom: 1px solid #000;
  justify-content: $justifyContent;
  @include display(flex);
  // display: flex;
}

.all {
  grid-gap: 0px;
  grid-template-columns: repeat(1, 1fr);
}

.all-recipe-info,
ol {
  color: $off-white-background;
  @include font(220%);
  @include width(100%);
  // font-size: 220%;
  // width: 100%;
}

h3 {
  color: $off-white-background;
  @include font(250%);
  // font-size: 250%;
}

.recipe-name {
  text-align: $textAlign;
  @include display(block);
  @include font(150%);
  // display: block;
  // font-size: 150%;
}

.card-picture:hover {
  opacity: 0.7;
}

.card-picture:active {
  @include border(2px, solid, #000);
  // border: 2px solid #000;
}

.card-picture {
  margin: 10px 3% 8px 2.6%;
  @include border(1px, solid, #000);
  @include height(200px);
  @include width(94%);
  // border: 1px solid #000;
  // height: 200px;
  // width: 94%;
}

main {
  background-color: $dark-blue;
  @include height(100%);
  @include width(100%);
  // height: 100%;
  // width: 100%;
}

.favorite-active {
  background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
  background-repeat: no-repeat;
}
