@import 'header';
@import 'body';
@import 'recipe-cards';
@import 'variables';

html {
  background-color: $dark-blue;
  @include border(2px, solid, #000);
  @include height(100vh);
}

body {
  box-sizing: border-box;
  font-family: $main-font;
  @include margin(auto);
}

.navButton {
  background-color: $off-white-background;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  @include font(130%);
  @include margin(1%);
}

.search-bar {
  margin: 10px 0px 10px 0px;
  @include display(flex);
  @include height(100%);
  @include width(30%);
}

.search-button {
  background-color: $off-white-background;
  margin-top: 3px;
  @include border(1px, solid, #000);
  @include width(20%);
  @include height(58px);
}

.search-image:hover,
.card-button:hover,
.navButton:hover,
.search-button:hover {
  background-color: #cff2da;
}


.search-image:active,
.card-button:active,
.navButton:active,
.search-button:active {
  background-color: #C3C2C6;
}

.search-input {
  margin: 3px 7px 0px 0px;
  padding-left: 10px;
  @include border(1px, solid, #000);
  @include font(100%);
  @include height(7vh);
  @include width(90%);
}

.card-button {
  @include border(1px, solid, #000);
  @include height(27px);
  @include margin(3px);
}

.add-button {
  background-color: $off-white-background;
  @include display(flex);
  @include width(12%);
}

.add {
  @include width(100%);
}

.hidden {
  @include display(none);
}

.favorite {
  background-color: $off-white-background;
  background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
  background-repeat: no-repeat;
  background-position: center;
  @include width(13%);
}

img {
  cursor: pointer;
}

.all {
  grid-gap: 0px;
  grid-template-columns: repeat(1, 1fr);
}

.all-recipe-info,
ol {
  color: $off-white-background;
  @include font(220%);
  @include width(100%);
}

h3 {
  color: $off-white-background;
  @include font(250%);
}

.recipe-name {
  text-align: $textAlign;
  @include display(block);
  @include font(150%);
}

main {
  background-color: $dark-blue;
  @include height(100%);
  @include width(100%);
}

.favorite-active {
  background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
  background-repeat: no-repeat;
}
